tp_soap/jaxwsclient/src/main/java/stub/ecommerce.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://presentation.soap.formations.ma/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://presentation.soap.formations.ma/" name="EcommerceWS">
<types>
<xsd:schema>
<xsd:import namespace="http://presentation.soap.formations.ma/" schemaLocation="http://localhost:9999/ecommerce?xsd=1"/>
</xsd:schema>
</types>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="deleteById">
<part name="parameters" element="tns:deleteById"/>
</message>
<message name="deleteByIdResponse">
<part name="parameters" element="tns:deleteByIdResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="saveArticle">
<part name="parameters" element="tns:saveArticle"/>
</message>
<message name="saveArticleResponse">
<part name="parameters" element="tns:saveArticleResponse"/>
</message>
<portType name="ArticleSoapController">
<operation name="getAll">
<input wsam:Action="http://presentation.soap.formations.ma/ArticleSoapController/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://presentation.soap.formations.ma/ArticleSoapController/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="deleteById">
<input wsam:Action="http://presentation.soap.formations.ma/ArticleSoapController/deleteByIdRequest" message="tns:deleteById"/>
<output wsam:Action="http://presentation.soap.formations.ma/ArticleSoapController/deleteByIdResponse" message="tns:deleteByIdResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://presentation.soap.formations.ma/ArticleSoapController/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://presentation.soap.formations.ma/ArticleSoapController/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="saveArticle">
<input wsam:Action="http://presentation.soap.formations.ma/ArticleSoapController/saveArticleRequest" message="tns:saveArticle"/>
<output wsam:Action="http://presentation.soap.formations.ma/ArticleSoapController/saveArticleResponse" message="tns:saveArticleResponse"/>
</operation>
</portType>
<binding name="ArticleSoapControllerPortBinding" type="tns:ArticleSoapController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveArticle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EcommerceWS">
<port name="ArticleSoapControllerPort" binding="tns:ArticleSoapControllerPortBinding">
<soap:address location="http://localhost:9999/ecommerce"/>
</port>
</service>
</definitions>